*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagen/jujutsu-kaisen-satoru-gojo-suguru-geto-shoko-ieiri-uhdpaper.com-4K-8.2563.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 12vh;
}
.one1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.anime{
    display: flex;
    margin-left: 4%;
    margin-right: 5%;
    font-family: 'Aladin';
}
.text{
    text-decoration: none;
    color: white;
}
.links{
    justify-content: center;
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: large;
    font-family: 'Shizuru';
}
.link:hover{
    background-color: rgb(80, 20, 40);
    border: 3px solid rgb(80, 20, 40);
    border-radius: 5px;
    border-width: auto;
}
.login{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(11, 1, 1);
    font-size: large;
    font-family: 'Shizuru';
}
.login:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(197, 181, 252);
    border: 3px solid rgb(197, 181, 252);
    border-radius: 5px;
}

#img{
    width: 25%;
    border-radius: 40px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 800px;
    height: 500px;
    margin: 20px auto;
}
.img {
    position: relative;
    display: flex;
    position: relative;
    width: 100%; 
    height: 100%;
    flex: 1;
    filter: brightness(0.7) saturate(0.2) contrast(1) blur(2px);
    border-radius: 20px;
    transition: 0.5s ease;
    overflow: hidden; 
    box-shadow: rgba(0,0,0, 0.25) 9px 25px 50px -12px;
    border: 1px solid #8b9da9;
}
.img:hover { 
    flex: 1.5;
    filter: none;
}
.img span{
    display: block;
    width: 50%;
    padding: 10px; 
    font-size: 20px; 
    text-align: center;
    color: #fff; 
    letter-spacing: 1px; 
    font-weight: bold; 
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.55s;
    text-shadow: 2px 7px 5px rgba(0,0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.img:hover span{
    bottom: 60px;
    background-color: rgba(4, 4, 4,0.2);
    border-radius: 20px;
}
.four{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
    font-family: 'Shizuru';
    margin-bottom: 20px;
}
#button{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.back, .next, .more{
    width: fit-content;
    display: flex;
    border-radius: 17px;
    text-align: center;
    width: fit-content;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
}
.back:hover{
    background-color: rgb(77, 77, 77);
}
.next:hover{
    background-color: rgb(77, 77, 77);
}
.more:hover{
    background-color: rgb(93, 10, 10);
}

@media only screen and (max-width: 768px) {
    .link{
        font-size: small;
    }
    .login{
        font-size: small;
    }
    h1{
        font-size: x-large;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 400px;
        height: 100%;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    .img{
        display: flex;
        flex-direction: column;
    }  
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px){
    .link{
        font-size: x-small;
    }
    .login{
        font-size: x-small;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        height: 100%;
        margin-left: 4%;
        margin-right: 4%;
        align-items: center;
        justify-content: center;
    }
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
